<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github-tntconcept-api</id>
            <username>tntconcept-ci</username>
            <password>&#103;&#105;&#116;&#104;&#117;&#98;&#95;&#112;&#97;&#116;&#95;&#49;&#49;&#65;&#65;&#70;&#55;&#75;&#78;&#73;&#48;&#70;&#83;&#88;&#122;&#112;&#118;&#110;&#85;&#72;&#53;&#101;&#113;&#95;&#84;&#110;&#114;&#105;&#107;&#51;&#110;&#102;&#85;&#104;&#79;&#51;&#109;&#52;&#53;&#118;&#102;&#69;&#120;&#89;&#54;&#99;&#115;&#69;&#80;&#101;&#86;&#65;&#80;&#51;&#109;&#75;&#51;&#50;&#54;&#116;&#71;&#68;&#107;&#67;&#56;&#49;&#56;&#69;&#52;&#80;&#75;&#90;&#88;&#76;&#66;&#66;&#120;&#55;&#82;&#49;&#110;&#113;&#105;</password>
        </server>
    </servers>
</settings>


