# Directorio de salida de Maven.
target/

# Configuración del Eclipse.
.metadata/
.project
.settings/
.classpath

# Configuración del IntelliJ
.idea/
*.iml

# Ficheros de backup del vi
*.swp

# Ficheros temporales de gitk
/.gitk*/
tntconcept-core/.gitignore
tntconcept-test/bin/.gitignore
tntconcept-web-tomcat/bin/.gitignore
tntconcept-web/.gitignore

# Ficheros de configuracion
src/main/install/config/autentia.properties
tntconcept-web/src/main/webapp/META-INF/context.xml
