# Directorio de salida de Maven.
target/

# Configuración del Eclipse.
.metadata/
.project
.settings/
.classpath

# Configuración del IntelliJ
.idea/
*.iml

# Ficheros de backup del vi
*.swp

# Ficheros temporales de gitk
/.gitk*/
tntconcept-core/.gitignore
tntconcept-test/bin/.gitignore
tntconcept-web-tomcat/bin/.gitignore
tntconcept-web/.gitignore
#
bin/
tntconcept-web-tomcat/overlays