<?xml version="1.0" encoding="UTF-8"?>
<!--

    TNTConcept Easy Enterprise Management by Autentia Real Bussiness Solution S.L.
    Copyright (C) 2007 Autentia Real Bussiness Solution S.L.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="java:comp/env/hibernate/SessionFactory">

    <!-- DataSource to use -->
    <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="connection.url">jdbc:hsqldb:mem:tnt</property>
    <property name="connection.username">sa</property>
    <property name="connection.password"></property>
    <property name="connection.pool_size">20</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

    <!-- Automatic context administration -->
    <property name="current_session_context_class">thread</property>

    <!-- Do not use second level cache -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

    <!-- Do not show SQL queries made by Hibernate -->
    <property name="show_sql">false</property>

    <!-- Enable outer joins -->
    <property name="hibernate.max_fetch_depth">8</property>

    <!-- TO mappings -->
    <mapping resource="com/autentia/tnt/businessobject/config/BulletinBoardCategory.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/BulletinBoard.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/User.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Role.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Province.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Country.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/IVAReason.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/IVAType.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/BillCategory.hbm.xml" />
    <mapping resource="com/autentia/tnt/businessobject/config/RectifiedBillCategory.hbm.xml" />
    <mapping resource="com/autentia/tnt/businessobject/config/BillRegime.hbm.xml" />
    <mapping resource="com/autentia/tnt/businessobject/config/UserCategory.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Inventary.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Organization.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/OrganizationDocCategory.hbm.xml" />
    <mapping resource="com/autentia/tnt/businessobject/config/Project.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/ProjectRole.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/ProjectCost.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Magazine.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/CompanyState.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Tutorial.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Publication.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Objective.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Activity.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Contact.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Interaction.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Idea.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Bill.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/CreditTitle.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/DocumentCategory.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Document.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/DocumentVersion.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/AccountType.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Account.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/AccountEntryGroup.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/AccountEntryType.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/AccountEntry.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Book.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Frequency.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/PeriodicalAccountEntry.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/InteractionType.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/OrganizationType.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/OrganizationISOCategory.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Holiday.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/RequestHoliday.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/AdminHoliday.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/BillBreakDown.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Department.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/ContractType.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/OfferRejectReason.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Offer.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/FinancialRatio.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/OfferRole.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/OfferCost.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Setting.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Occupation.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/WorkingAgreement.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/WorkingAgreementTerms.hbm.xml" />
    <mapping resource="com/autentia/tnt/businessobject/config/Collaborator.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Commissioning.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/CommissioningDelay.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/ExternalActivity.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/CommissioningChange.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/CommissioningFile.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/ActivityFile.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/CommissioningPaymentData.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Position.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/PositionChange.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/ContactInfo.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/Tag.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/EntityChange.hbm.xml"/>
    <mapping resource="com/autentia/tnt/businessobject/config/BillPayment.hbm.xml" />
    <mapping resource="com/autentia/tnt/businessobject/config/ArchimedesSecuritySubject.hbm.xml" />


  </session-factory>
</hibernate-configuration>
